<div>
  <div id="topbar">
    <mat-toolbar color="secondary" fxLayout="row" style="background-color: #c3b6e9; padding: 5px;">
      <div fxLayoutAlign="start start" style="width: 50%;">
        <button class="topbar-button-left btn btn-md btn-primarylight" (click)="openSearchClick()" matTooltip="Buy Address">
          <i class="material-icons topbar-menu-icon">mobile_friendly</i>
          <label>&nbsp;Buy Address</label>
        </button>
      </div>
      <div fxLayoutAlign="end end" style="width: 50%;">
        <button class="topbar-button-right btn btn-md btn-primarylight" (click)="openPurchaseClick()" matTooltip="Show Purchases">
          <i class="material-icons topbar-menu-icon">attach_money</i>
          <label>&nbsp;Show Purchases</label>
        </button>
      </div>
    </mat-toolbar>
  </div>

  <mat-card class="mat-card-red" *ngIf="errorLabel" fxLayout="column" fxLayoutGap="0.5em;">
    <label>Sorry that this error happened! Please copy the following error and send it to @XummCommunity on twitter or via mail to: XummCommunity@gmail.com . Thanks for your help!</label>
    <label>&nbsp;</label>
    <label class="break-words" (click)="copyError()">{{errorLabel}}</label>
    <button mat-button class="xumm-grey-background" aria-label="Copy Error" (click)="copyError()">
      Copy&nbsp;<mat-icon style="font-size: 16px; width: fit-content; height: fit-content;">content_copy</mat-icon>
    </button>
  </mat-card>

  <div *ngIf="showHelp" fxLayout="column" fxLayoutGap="0.5em">
    <mat-card>
      <label>Here will be some help shown, as FAQ in an accordion model?</label>
      <div style="padding-top: 1em;" fxLayoutGap="0.5em" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" (click)="showHelp = false">Close Help</button>
      </div>
    </mat-card>
  </div>

  <!--label class="break-words" *ngIf="infoLabel" style="color: red">{{infoLabel}}</label><br><br>
  <label class="break-words" *ngIf="infoLabel2" style="color: red">{{infoLabel2}}</label>
  <label class="break-words" *ngIf="infoLabel3" style="color: red">{{infoLabel3}}</label-->

  <div *ngIf="openSearch" fxLayout="column" fxLayoutGap="0.5em">
    <div *ngIf="testMode == null" fxLayoutAlign="center center" fxLayoutGap="0.5em" style="padding-top: 10px;">
      <label>Loading...</label>
      <div class="spinner-border" role="status" style="padding-top: 0.5em;"></div>
    </div>
    <div *ngIf="testMode != null && !testMode">
      <mat-card class="mat-card-red">
        You can not choose a XRPL vanity address while being connected to the XRP Ledger {{testMode ? 'TEST' : 'MAIN'}} net.
        Please connect your XUMM app to the XRP Ledger {{testMode ? 'MAIN' : 'TEST'}} net and open the xApp again.
        
        <div style="padding-top: 1em;" fxLayoutGap="0.5em" fxLayoutAlign="center center">
          <button mat-raised-button class="xumm-grey-background" (click)="close()">Close</button>
        </div>
      </mat-card>
    </div>
    <div *ngIf="testMode != null && testMode">
      <mat-vertical-stepper linear #vanityStepper>
        <mat-step completed="false" editable="false">
          <mat-card fxLayout="column" fxLayoutGap="1em">
            <ng-template matStepLabel>Vanity search</ng-template>
            <h3>Find yourself a beautiful XRPL vanity Address</h3>
            <!--label>A vanity address is a wallet address containing a few characters you like at the beginning of the wallet address.</label>
            <label>This xApp allows you to search for a vanity address of your choice. We will check for suitable addresses and show it to you if find any.</label>
            <br/>
            <label class="description">Please enter the characters you want your address to start or end with.</label-->
            <div class="sticky p-3 pt-2 pb-1">
              <form>
                <ul class="notes">
                  <li>Always starts with r</li>
                  <li>You don't need to type the r</li>
                  <li>Min. 3 characters</li>
                  <li>Max. 8 characters</li>
                </ul>
                <div class="input-group mb-2 no-wrap-at-all">
                    <span class="input-group-text"><i class="bi-search"></i></span>
                    <input #inpvanityword class="form-control form-control-lg" minlength="3" maxlength="8"  name="vanity word" placeholder="Look for your name / brand" [(ngModel)]="vanityWordInput" (ngModelChange)="checkVanitySearchChange()">
                </div>
                <button class="btn btn-lg btn-primarylight search" (click)="searchVanityAddress()" [disabled]="loadingData || !vanityWordInput || vanityWordInput.trim().length < 3 || !vanityWordValid">Search</button>
              </form>
            </div>

            <div *ngIf="searchResult && !selectedVanityAddress" fxLayout="column" fxLayoutGap="0.5em">
              <div *ngIf="searchResult.length > 0" fxLayout="column" fxLayoutGap="0.5em">
                <label>Please select one of the vanity addresses below:</label>
                <div class="listarea p-3 pt-4 pb-2">
                  <h3>Adresses found ({{searchResult.length}}) :</h3>
                  <ul class="list" *ngFor="let address of searchResult">
                      <li class="p-2">
                          <code>r<b>{{address.address.substring(1,vanityWordInput.length+1)}}</b>{{address.address.substring(vanityWordInput.length+1)}}</code>
                          <div>
                            <button class="btn btn-sm btn-success" (click)="selectVanityAddress(address); moveNext()">Buy</button>
                          </div>
                      </li>
                  </ul>
                </div>
              </div>
              <div *ngIf="searchResult.length <= 0">
                <mat-card class="mat-card-orange">
                  <label>No vanity addresses found for your search. Please try a different word!</label>
                  <label>Try changing your search word slightly!</label>
                  <!--label class="xumm-orange">Alternnatively you can add the search word '{{vanityWordInput}}' to our backend to explicitly looking for it.</label>
                  <label class="xumm-orange">Adding your vanity word to our backend will come with a fee of {{getBackendFeeAmount}} XRP.</label-->
                  <!--button mat-raised-button color="primary" (click)="addVanityWordToBackend()" [disabled]="loadingData">Pay for explict search</button-->
                </mat-card>
              </div>
            </div>

            <div *ngIf="loadingData" fxLayoutAlign="center center" fxLayoutGap="0.5em">
              <label>Searching addresses ...</label>
              <div class="spinner-border" role="status" style="padding-top: 0.5em;"></div>
            </div>
          </mat-card>
        </mat-step >
    
        <mat-step completed="false" editable="false">
          <mat-card fxLayout="column" fxLayoutGap="0.5em">
              <ng-template matStepLabel>Payment Account</ng-template>
              <div fxLayout="column" fxLayoutGap="0.5em" *ngIf="originalAccountInfo">
                <label class="description">Please choose the account which will be able to sign transactions for your new vanity address.</label>
                <label>This account also needs to be used to activate the vanity address with <b>10 XRP</b> and pay for your vanity address (<b>100 USD in XRP</b>)</label>
                <label *ngIf="originalAccountInfo && (originalAccountInfo.Account || originalAccountInfo.account)">Currently selected:</label>
                <label style="font-size: 0.9em; color: #17ebb8;" *ngIf="originalAccountInfo && originalAccountInfo.Account"><b>{{originalAccountInfo.Account}}</b></label>
                <label *ngIf="originalAccountInfo && originalAccountInfo.account">{{originalAccountInfo.account}}</label>
    
                <div fxLayout="column" fxLayoutGap="1em" style="padding-top: 0.5em;">
                  <div fxLayoutAlign="start center">
                    <button class="btn btn-lg btn-primarylight search" (click)="signIn()" [disabled]="loadingData">{{originalAccountInfo && (originalAccountInfo.Account || originalAccountInfo.account) ? 'Change Account' : 'Sign In' }}</button>
                  </div>
                </div>
              </div>
    
              <div style="padding-top: 0.5em;">
                <mat-card *ngIf="originalAccountInfo && originalAccountInfo.error && originalAccountInfo.error == 'actNotFound' && !loadingData" class="mat-card-red">
                  <label>Account not activated on {{testMode ? 'Testnet' : 'Mainnet'}}.</label>
                </mat-card>

                <mat-card *ngIf="originalAccountInfo && balanceTooLow && !loadingData" class="mat-card-red">
                  <label>The balance of this account is too low!</label>
                  <label>You should have at least {{(amountXrpNeeded/1000000)}} XRP in your account!</label>
                </mat-card>
              </div>
    
              <div *ngIf="!originalAccountInfo || loadingData" fxLayoutAlign="start center" fxLayoutGap="0.5em">
                <label>Loading ...</label>
                <div class="spinner-border" role="status" style="padding-top: 0.5em;"></div>
              </div>
    
              <div style="padding-top: 0.5em;" fxLayoutGap="0.5em">
                  <button class="btn btn-sm btn-success" (click)="moveNext(true)" [disabled]="!originalAccountInfo || !originalAccountInfo.Account || loadingData">Next</button>
                  <button class="btn btn-sm btn-primarylight" (click)="moveBack()" [disabled]="!originalAccountInfo || loadingData">Back</button>
              </div>
          </mat-card>
        </mat-step>

        <mat-step completed="false" editable="false">
          <mat-card fxLayout="column" fxLayoutGap="0.5em">
            <ng-template matStepLabel>Confirmation</ng-template>
            <label class="description">Please read the information below carefully and sign the request to accept.</label>
            <div fxLayout="column" fxLayoutGap="1em" style="margin-right: 10px;">
              <mat-checkbox [(ngModel)]="checkBoxPurchaseAmount" (change)="informationConfirmed = false;" [ngClass]="(checkBoxPurchaseAmount ? 'xumm-green': 'xumm-red')">You aggree to pay the XRP equivalent of ~ <b>{{getPurchaseAmountUSD()}} USD</b> to buy your vanity address <b>{{selectedVanityAddress && selectedVanityAddress.address}}</b></mat-checkbox>
              <mat-checkbox [(ngModel)]="checkBoxActivation" (change)="informationConfirmed = false;" [ngClass]="(checkBoxActivation ? 'xumm-green': 'xumm-red')">You need to fund your new vanity address with the <b>10 XRP</b> reserve fee of the XRP Ledger.</mat-checkbox>
              <!--mat-checkbox [(ngModel)]="checkBoxSignInfo" (change)="informationConfirmed = false;" [ngClass]="(checkBoxSignInfo ? 'xumm-green': 'xumm-red')">The signing account {{originalAccountInfo && originalAccountInfo.Account}} will be the only one able to sign transactions for {{selectedVanityAddress}} !</mat-checkbox>
              <mat-checkbox [(ngModel)]="checkBoxAccess" (change)="informationConfirmed = false;" [ngClass]="(checkBoxAccess ? 'xumm-green': 'xumm-red')">If you loose access to {{originalAccountInfo && originalAccountInfo.Account}}, you also loose access to {{selectedVanityAddress}} !</mat-checkbox>
              <mat-checkbox [(ngModel)]="checkBoxSignAccFull" (change)="informationConfirmed = false;" [ngClass]="(checkBoxSignAccFull ? 'xumm-green': 'xumm-red')">The signing account {{originalAccountInfo && originalAccountInfo.Account}} needs always to be imported as "Full Access" in the XUMM app!</mat-checkbox-->
              <mat-checkbox [(ngModel)]="checkBoxVanityAccReadOnly" (change)="informationConfirmed = false;" [ngClass]="(checkBoxVanityAccReadOnly ? 'xumm-green': 'xumm-red')">Vanity Account <b>{{selectedVanityAddress && selectedVanityAddress.address}}</b> needs to be imported as "Read only" in the XUMM app!</mat-checkbox>
            </div>
            <div fxLayoutAlign="start center" style="padding-top: 0.5em;">
              <button class="btn btn-lg btn-primarylight search" (click)="signToConfirm()" [disabled]="loadingData || !checkBoxPurchaseAmount || !checkBoxActivation || !checkBoxVanityAccReadOnly || informationConfirmed">Sign to confirm</button>
            </div>

            <div *ngIf="loadingData" fxLayoutAlign="start center">
              <label>Loading...</label>
              <mat-progress-spinner color="primarylight" mode="indeterminate" diameter=25></mat-progress-spinner>
            </div>

            <div style="padding-top: 0.5em;" fxLayoutGap="0.5em">
              <button *ngIf="informationConfirmed" class="btn btn-sm btn-success" (click)="moveNext()" [disabled]="!informationConfirmed || loadingData">Next</button>
              <button class="btn btn-sm btn-primarylight" (click)="moveBack();" [disabled]="loadingData">Back</button>
            </div>

          </mat-card>
        </mat-step>
    
        <mat-step completed="false" editable="false">
          <mat-card fxLayout="column" fxLayoutGap="1em">
            <ng-template matStepLabel>Purchase of Vanity Address</ng-template>
            <label class="description">You will have to pay the XRP equivalent of ~ <b>{{getPurchaseAmountUSD()}} USD</b> to buy your vanity address <b>{{selectedVanityAddress && selectedVanityAddress.address}}</b></label>
            <mat-card class="mat-card-red">
              <label>Funds can not be returned. After successfully purchase and account activation, the account is yours and YOURS only! The account can not be returned to us!</label>
            </mat-card>

            <div *ngIf="!purchaseSuccess" fyLayoutAlign="center center" style="width: 100%;">
              <button class="btn btn-lg btn-success" style="width: 100%;" (click)="buyVanityAddress()" [disabled]="loadingData">Buy Vanity Address</button>
            </div>

            <div *ngIf="loadingData" fxLayoutAlign="center center">
              <label>Loading...</label>
              <mat-progress-spinner color="primarylight" mode="indeterminate" diameter=25></mat-progress-spinner>
            </div>

            <div>
              <mat-card *ngIf="!loadingData && purchaseStarted && !purchaseSuccess" class="mat-card-red">Your payment was not successfull on the XRP Ledger MAIN net.</mat-card>
              <mat-card *ngIf="!loadingData && purchaseStarted && purchaseSuccess" class="mat-card-green" fxLayout="row" fxLayoutGap="0.3em" fxLayoutAlign="start center">
                <i class="material-icons xumm-green" style="font-size: 2em;">
                    check_circle_outline
                </i>
                <label class="break-words"><b>Congratulations!!!</b><br>You bought the address:<br><br><b>{{selectedVanityAddress && selectedVanityAddress.address}}</b></label>
              </mat-card>
            </div>
            

            <div style="padding-top: 0.5em;" fxLayoutGap="0.5em">
              <button *ngIf="purchaseSuccess" class="btn btn-sm btn-success" (click)="moveNext()" [disabled]="!purchaseSuccess || loadingData">Next</button>
              <button class="btn btn-sm btn-primarylight" (click)="moveBack();" [disabled]="loadingData">Back</button>
            </div>
          </mat-card>
        </mat-step>
    
        <mat-step completed="false" editable="false">
          <mat-card fxLayout="column" fxLayoutGap="0.5em">
              <ng-template matStepLabel>Account activation</ng-template>
              <mat-card class="mat-card-orange" *ngIf="!accountActivated || !accountRekeyed || !!accountMasterKeyDisabled">
                <label>In order to use your new address, it has to hold at least <b>10 XRP</b>. This is a requirement by the XRP Ledger.</label>
                <label>After you have activated your new account, we will change the porperties of that account that only YOU will have access to it!</label>
              </mat-card>

              <div *ngIf="!accountActivated && !loadingData" style="width: 100%;">
                <button class="btn btn-lg btn-success"  style="width: 100%;" (click)="activateVanityAddress()" [disabled]="loadingData">Activate Vanity Address</button>
              </div>

              <mat-card *ngIf="accountActivated" class="mat-card-green" fxLayout="row" fxLayoutGap="0.3em" fxLayoutAlign="start center">
                <i class="material-icons xumm-green" style="font-size: 2em;">
                    check_circle_outline
                </i>
                <label>The account <b>{{selectedVanityAddress && selectedVanityAddress.address}}</b> has been activated.</label>
              </mat-card>

              <mat-card *ngIf="accountActivated && accountRekeyed" class="mat-card-green" fxLayout="row" fxLayoutGap="0.3em" fxLayoutAlign="start center">
                <i class="material-icons xumm-green" style="font-size: 2em;">
                    check_circle_outline
                </i>
                <label>Your account <b>{{originalAccountInfo.Account}}</b> can now sign transactions for <b>{{selectedVanityAddress && selectedVanityAddress.address}}</b>. That means YOU have access to the account now.</label>
              </mat-card>

              <mat-card *ngIf="accountActivated && accountRekeyed && accountMasterKeyDisabled" class="mat-card-green" fxLayout="row" fxLayoutGap="0.3em" fxLayoutAlign="start center">
                <i class="material-icons xumm-green" style="font-size: 2em;">
                    check_circle_outline
                </i>
                <label>The master key for the vanity account <b>{{selectedVanityAddress && selectedVanityAddress.address}}</b> is disabled. That means <b>WE</b> can not access this account anymore.<br><br><b>It is truly yours now, enjoy!</b></label>
              </mat-card>

              <div *ngIf="loadingData" fxLayoutAlign="center center">
                <label *ngIf="!accountActivated">Waiting for account activation ...</label>
                <label *ngIf="accountActivated && !accountRekeyed">Waiting for account transfer ...</label>
                <label *ngIf="accountActivated && accountRekeyed && !accountMasterKeyDisabled">Waiting for master key to be disabled ...</label>
                <mat-progress-spinner color="primarylight" mode="indeterminate" diameter=25></mat-progress-spinner>
              </div>

              <mat-card *ngIf="accountActivated && accountRekeyed && accountMasterKeyDisabled" class="mat-card-orange" fxLayout="column" fxLayoutGap="0.5em">
                <mat-card class="mat-card-red" *ngIf="rekeyAccount != originalAccountInfo.Account" fxLayout="column">
                  <label>You have send the activation payment with a different account than the one you used for the payment and sign in earlier.</label>
                  <label>We have now set <b>{{rekeyAccount}}</b> as "RegularKey". This account will now be able to sign transactions for <b>{{selectedVanityAddress && selectedVanityAddress.address}}</b></label>
                </mat-card>
                <label>To use your account, copy the following address (via the button) and add it as "Read only" account to your XUMM app:</label>
                <div fxLayout="row" fxLayoutGap="0.2em" fxLayoutAlign="start center" *ngIf="selectedVanityAddress">
                  <label style="font-size: 0.9em;" (click)="copyAddress(selectedVanityAddress.address)"><b>{{selectedVanityAddress && selectedVanityAddress.address}}</b></label>
                  <button mat-icon-button aria-label="Copy Address" (click)="copyAddress(selectedVanityAddress.address)">
                    <mat-icon style="font-size: 16px; width: fit-content; height: fit-content;">content_copy</mat-icon>
                  </button>
                </div>
              </mat-card>

              <div *ngIf="!loadingData && errorActivation">
                <mat-card class="mat-card-red" fxLayoutGap="0.3em">
                  <label>There was an error activating your new vanity address.</label>
                  <label>Please contact @nixerFFM or @WietseWind on twitter or send a mail to xyz@gmail.com</label>
                </mat-card>
              </div>
          </mat-card>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
  <div *ngIf="!openSearch">
    <mat-card>
      <div *ngIf="loadingPurchases" fxLayoutAlign="center center" fxLayoutGap="0.5em" style="padding-top: 10px;">
        <label>Loading...</label>
        <div class="spinner-border" role="status" style="padding-top: 0.5em;"></div>
      </div>
      <div *ngIf="!loadingPurchases && (!purchasedAddresses || purchasedAddresses.length <=0 )" fxLayout="column">
        <mat-card class="mat-card-orage">
          <label>No purchases found.</label>
        </mat-card>
      </div>
      <div class="purchases" *ngIf="!loadingPurchases && purchasedAddresses && purchasedAddresses.length > 0" fxLayout="column">
        <ul class="list">
          <li class="p-2" *ngFor="let address of purchasedAddresses">
            <div>
              <code><b>{{address.vanityAddress}}</b></code>
            </div>

            <div fxLayout="row">
              <b>Network:</b>&nbsp;
              <label>{{address.testnet ? 'Testnet' : 'Mainnet'}}</label>
            </div>

            <div fxLayout="row">
              <b>Activated:</b>&nbsp;
              <div *ngIf="address.activated" fxLayout="row" fxLayoutAlign="center center">
                <i class="material-icons xumm-green">
                  check_circle_outline
                </i>
              </div>

              <div *ngIf="!address.activated" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.5em">
                <i class="material-icons xumm-red" style="font-size: 1.4em;">
                  highlight_off
                </i>
                <button class="btn btn-sm btn-success" (click)="selectPurchasedAddressAndActivate(address)" [disabled]="loadingData">Activate now</button>
              </div>
            </div>

            <div fxLayout="row">
              <b>Rekeyed:</b>&nbsp;
              <div *ngIf="address.rekeyed" fxLayout="row" fxLayoutAlign="center center">
                <i class="material-icons xumm-green">
                  check_circle_outline
                </i>
              </div>

              <div *ngIf="!address.rekeyed" fxLayout="row" fxLayoutAlign="center center">
                <i class="material-icons xumm-red" style="font-size: 1.4em;">
                  highlight_off
                </i>
              </div>
            </div>
            
            <div fxLayout="column">
              <b>RegularKey:</b>
              <label style="font-size: 0.9em;">{{address.regularKey}}</label>
            </div>
          </li>
        </ul>
      </div>
    </mat-card>
  </div>
</div>