<div *ngIf="loadingCheckForPurchaseActivation || loadingData || loadingPurchases || !originalAccountInfo"
  class="loader">
  <div class="spinner-border" role="status"></div>
  <label>Loading</label>
  <div class="floatcenter" *ngIf="loadingData && vanityWordInput && !selectedVanityAddress && !searchResult">
    <label>Please be patient!</label>
    <label>Searching can take up to 30s</label>
  </div>
</div>

<div id="topbar" *ngIf="!stepper && fullAccessAccount && useMainNet === !testMode">
  <mat-toolbar color="secondary" fxLayout="row">
    <div fxLayoutAlign="start start" style="width: 50%;">
      <button class="topbar-button-left btn" (click)="openSearchClick()" [ngClass]="{'active' : openSearch}"
        matTooltip="Buy Address">
        <i class="material-icons topbar-menu-icon">search</i>
        <label>&nbsp;Buy Address</label>
      </button>
    </div>
    <div fxLayoutAlign="end end" style="width: 50%;">
      <button class="topbar-button-right btn" (click)="openPurchaseClick()" matTooltip="Show Purchases"
        [ngClass]="{'active' : !openSearch}">
        <i class="material-icons topbar-menu-icon">list</i>
        <label>&nbsp;Show Purchases</label>
      </button>
    </div>
  </mat-toolbar>
</div>

<div class="alert alert-danger floatcenter" *ngIf="errorLabel" fxLayout="column" fxLayoutGap="0.3em">
  <label>Sorry, an unexpected error happened!</label>
  <label>Please try again!</label>
  <label>If this keeps on happening, use the button below to copy the error text to your clipboard:</label>
  <div class="fullwidth">
    <button class="btn btn-success btn-sm w-100" aria-label="Copy Error"
      (click)="copyError()">
      <i class="material-icons" style="font-size: 16px; width: fit-content; height: fit-content;">content_copy</i>
      Copy error text</button>
  </div>
  <label>You can now open the XUMM Support xApp and send the error to our team. Thank you for your help!</label>
  <label class="label-link purple" (click)="openSupportApp()"><b>Open Support xApp</b></label>
</div>

<!--label class="break-words" *ngIf="infoLabel" style="color: red">{{infoLabel}}</label><br><br>
  <label class="break-words" *ngIf="infoLabel2" style="color: red">{{infoLabel2}}</label>
  <label class="break-words" *ngIf="infoLabel3" style="color: red">{{infoLabel3}}</label-->

<div *ngIf="!loadingData && useMainNet === !testMode && !fullAccessAccount" class="alert alert-danger m-3 text-center" fxLayout="column" fxLayoutGap="0.5em">
  <label>The account you opened this xApp with is not imported as "Full Access" in your XUMM app.</label>
  <br>
  <label>Please close this xApp, change the account in the 'Home' screen and open the xApp again.</label>
</div>

<div *ngIf="!loadingData && (useMainNet === testMode)" class="alert alert-danger m-3 text-center" fxLayout="column" fxLayoutGap="0.5em">
  <label>This xApp can not be used while being connected to the XRP Ledger {{testMode ? 'Testnet' : 'Mainnet'}}.</label>
  <br>
  <label>Please connect your XUMM app to the XRP Ledger {{testMode ? 'Mainnet' : 'Testnet'}} and open this xApp again.</label>
</div>

<div *ngIf="openSearch && fullAccessAccount && useMainNet === !testMode">
  <div>
    <div *ngIf="!selectedVanityAddress && !(loadingData && !vanityWordInput)">
      <div class="p-3 pb-1">
        <h1 class="sticky mb-0">
          <label>Find yourself a vanity XRPL address </label>
          <div fxLayout="row">
            <div fxLayout="row" fxLayoutAlign="start center" style="width: 50%" fxLayoutGap="0.3em">
              <label><small>€{{getPurchaseAmount()}} / ~{{xrpAmountFirst}} XRP</small></label>              
            </div>
            <span style="flex: 1 1 auto;"></span>
            <div class="pro" *ngIf="isProUser" fxLayout="row" fxLayoutAlign="start center">
              <label><small>-20% </small></label>
              <img src="../assets/pro-badge.png" width ="50px" height="21px" alt="XUMM Pro">
            </div>
          </div>
        </h1>        
      </div>
      <div class="sticky p-3 pt-1 pb-1">
        <form>
          <div class="input-group mb-2 no-wrap-at-all">
            <span class="input-group-text"><i class="bi-search"></i></span>
            <input #inpvanityword class="form-control form-control-lg" minlength="3" maxlength="8" name="vanity word" placeholder="Look for your name / brand" [(ngModel)]="vanityWordInput" (ngModelChange)="checkVanitySearchChange()">
          </div>
          <mat-hint *ngIf="vanityWordInput && vanityWordInput.length > 2 && !vanityWordValid" style="color: #ff5b5b">Invalid characters detected. Please check your input!</mat-hint>
          
          
          <div fxLayout="row">
            <div *ngIf="!vanityWordInput || vanityWordValid ">
              <label>Example Address: <code>r<b>{{vanityWordInput}}</b>...</code></label>
            </div>
            <span style="flex: 1 1 auto;"></span>
            <div fxLayout="row" fxLayoutAlign="start center">
              <label class="orange label-link" (click)="openFAQ()">FAQ</label>
            </div>
          </div>
          <button class="btn btn-lg btn-primarylight search" (click)="searchVanityAddress()"
            [disabled]="loadingData || !vanityWordInput || vanityWordInput.trim().length < 3 || !vanityWordValid">Search</button>
          <div *ngIf="!searchResult || !vanityWordInput || vanityWordInput.trim().length < 3 || !vanityWordValid">
            <ul class="notes">
              <li>XRPL addresses always start with the letter r</li>
              <li>Min. 3 and Max. 8 characters supported</li>
              <li>Allowed: a-Z:
            </ul>
          </div>
        </form>
      </div>

      <div *ngIf="searchResult && !selectedVanityAddress">

        <div *ngIf="searchResult.length > 0">
          <div class="listarea p-3 pt-4 pb-2">
            <h3>Adresses found ({{searchResult.length}}) :</h3>
            <ul class="list">
              <li *ngFor="let address of searchResult">
                <code>r<b>{{address.address.substring(1,vanityWordUsedForSearch.length+1)}}</b>{{address.address.substring(vanityWordUsedForSearch.length+1)}}</code>
                <div>
                  <button class="btn btn-sm btn-success" (click)="selectVanityAddress(address);">Buy</button>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div *ngIf="searchResult.length <= 0">
          <div class="alert alert-warning m-3 p-2 text-center">
            <p>No vanity addresses found for your search.</p>
            <b>Try changing your search word slightly or come back later as we continue to generate new addresses!</b>
          </div>
        </div>
      </div>
    </div>

    <mat-stepper orientation="horizontal" [linear]="isLinear" #vanityStepper *ngIf="selectedVanityAddress">

      <!-- STEP 1 -->
      <mat-step completed="false" editable="false">
        <div class="stepcontainer">
          <ng-container *ngIf="originalAccountInfo">
            <h2>Regular Key Account</h2>
            <ng-container *ngIf="originalAccountInfo && (originalAccountInfo.Account || originalAccountInfo.account)">
              <label>Selected account:</label>
              <code class="address"
                *ngIf="originalAccountInfo && originalAccountInfo.Account"><b>{{originalAccountInfo.Account}}</b></code>
              <!-- TODO: we need this? -->
              <code class="address"
                *ngIf="originalAccountInfo && originalAccountInfo.account">{{originalAccountInfo.account}}</code>
            </ng-container>

            <button class="btn btn-sm btn-primarylight changeaccount" (click)="signIn()"
              [disabled]="loadingData">{{originalAccountInfo && (originalAccountInfo.Account ||
              originalAccountInfo.account) ? 'Change account' : 'Sign In' }}</button>
            <hr>
            <div *ngIf="originalAccountInfo && originalAccountInfo.Account && !balanceTooLow && !hasSignerList() && !originalAccountInfo.RegularKey && !loadingData" class="alert alert-info">
              <label>Your XUMM account</label>
              <label><code class="green"><b>{{originalAccountInfo && originalAccountInfo.Account}}</b></code></label>
              <label>will be able to sign transactions for your new vanity address</label>
              <label><code><b>{{selectedVanityAddress && selectedVanityAddress.address}}</b></code></label>
            </div>
          </ng-container>

          <div
            *ngIf="originalAccountInfo && originalAccountInfo.error && originalAccountInfo.error == 'actNotFound' && !loadingData"
            class="alert alert-danger">
            <label>Account not activated on {{testMode ? 'Testnet' : 'Mainnet'}}.</label>
            <label>Please select an activated account.</label>
          </div>

          <div *ngIf="originalAccountInfo && originalAccountInfo.Account && balanceTooLow && !loadingData"
            class="alert alert-danger">
            <label>The balance of this account is too low!</label>
            <label>You should have at least {{(amountXrpNeeded/1000000)}} XRP in your account!</label>
            <label>Please choose a different account or top up your account balance.</label>
          </div>

          <div *ngIf="originalAccountInfo && originalAccountInfo.RegularKey && !loadingData" class="alert alert-danger">
            <label>Your XUMM account <code>{{originalAccountInfo && originalAccountInfo.Account}}</code> has a RegularKey set!</label>
            <label>That means a different account can sign transactions for it.</label>
            <label>You can not use this account to buy and configure your vanity address. Please choose a different
              account.</label>
          </div>

          <div *ngIf="originalAccountInfo && hasSignerList() && !loadingData" class="alert alert-danger">
            <label>Your XUMM account <code>{{originalAccountInfo && originalAccountInfo.Account}}</code> has a SignerList set!</label>
            <label>You can not use this account to buy and configure your vanity address. Please choose a different
              account.</label>
          </div>
        </div>

        <footer class="nextback">
          <button class="btn btn-sm btn-primarylight" (click)="selectedVanityAddress = null;"
            [disabled]="!originalAccountInfo || loadingData">
            Back
          </button>

          <button class="btn btn-sm btn-success" (click)="moveNext()"
            [disabled]="!originalAccountInfo || !originalAccountInfo.Account || balanceTooLow || hasSignerList() || originalAccountInfo.RegularKey || loadingData">Next</button>
        </footer>

      </mat-step>

      <!-- STEP 2 -->
      <mat-step completed="false" editable="false">
        <div class="stepcontainer">
          <h2>Checks</h2>
          <p>Please read the information below carefully and sign the request to accept.</p>
          <!-- <div class="alert alert-warning">Please read the information below carefully and sign the request to accept.
          </div> -->

          <div *ngIf="!informationConfirmed" class="alert alert-danger">
            Please read carefully and sign to confirm
          </div>

          <mat-checkbox [(ngModel)]="checkBoxPurchaseAmount" (change)="informationConfirmed = false;"
            [ngClass]="(checkBoxPurchaseAmount ? 'active': '')">You agree to pay the XRP equivalent of <b>~
              {{getPurchaseAmount()}} EUR</b> to buy your vanity address <b>{{selectedVanityAddress &&
              selectedVanityAddress.address}}</b>
          </mat-checkbox>

          <mat-checkbox [(ngModel)]="checkBoxVanityAccReadOnly" (change)="informationConfirmed = false;"
            [ngClass]="(checkBoxVanityAccReadOnly ? 'active': '')">Your new Vanity account <b>{{selectedVanityAddress &&
              selectedVanityAddress.address}}</b> needs to be imported as "Read only" in the XUMM app! Your account
             <b>{{originalAccountInfo && originalAccountInfo.Account}}</b> will be able to sign transactions for it.
          </mat-checkbox>

          <mat-checkbox [(ngModel)]="checkBoxVanityAccAccess" (change)="informationConfirmed = false;"
            [ngClass]="(checkBoxVanityAccReadOnly ? 'active': '')">If you lose access / lose the keys to your account 
            <b>{{originalAccountInfo && originalAccountInfo.Account}}</b> then you will also lose access to your 
            vanity address <b>{{selectedVanityAddress && selectedVanityAddress.address}}</b>
          </mat-checkbox>

          <mat-checkbox [(ngModel)]="checkBoxMasterKey" (change)="informationConfirmed = false;"
            [ngClass]="(checkBoxVanityAccReadOnly ? 'active': '')">The private key (master key) of your new vanity address will be disabled so
            it can not be used to sign transactions. It is highly recommended to keep the private key disabled.
            DO NOT enable the private key for your vanity address!
          </mat-checkbox>

          <mat-checkbox [(ngModel)]="checkBoxVanityPrivacy" (change)="informationConfirmed = false;"
            [ngClass]="(checkBoxVanityAccReadOnly ? 'active': '')">If you, as example, chose your name as vanity address,
            please be aware that your name will be visible in your public account address and therefore in every transaction
            you make with this account on the XRP Ledger. 
          </mat-checkbox>

          <mat-checkbox [(ngModel)]="checkBoxActivation" (change)="informationConfirmed = false;"
            [ngClass]="(checkBoxActivation ? 'active': '')">You need to fund your new vanity address with the 
            <b>{{accountReserve/1000000}} XRP</b> account reserve required by the XRP Ledger.</mat-checkbox>

        </div>

        <footer class="nextback">
          <button class="btn btn-sm btn-primarylight" (click)="moveBack();" [disabled]="loadingData">Back</button>
          <button class="btn btn-sm btn-success" (click)="moveNext()" *ngIf="informationConfirmed"
            [disabled]="loadingData">Next</button>
          <button class="btn btn-lg btn-secondary signbutton" (click)="signToConfirm()"
            *ngIf="!isAllCheckboxesChecked() || !informationConfirmed"
            [disabled]="loadingData || !isAllCheckboxesChecked() || informationConfirmed">
            Sign</button>
        </footer>
      </mat-step>

      <!-- STEP 3 -->
      <mat-step completed="false" editable="false">
        <div class="stepcontainer">
          <ng-container *ngIf="!purchaseSuccess">
            <h2>Confirm</h2>
            <p>You will have to pay the XRP equivalent of <b>~ {{getPurchaseAmount()}} EUR</b> to buy your vanity
              address</p>
            <code class="address">{{selectedVanityAddress && selectedVanityAddress.address}}</code>
            <hr>
            <div *ngIf="!purchaseStarted" class="alert alert-danger">
              Funds can not be returned. After successful purchase and account activation, the account is yours and
              YOURS only! The account can not be returned to us!
            </div>

          </ng-container>

          <div *ngIf="!loadingData && purchaseStarted && !purchaseSuccess" class="alert alert-danger">
            Your payment was not successful on the XRP Ledger {{testMode ? 'Testnet' : 'Mainnet'}}.
          </div>

          <ng-container *ngIf="!loadingData && purchaseStarted && purchaseSuccess">

            <div class="alert alert-success">
              <br>
              <p class="text-center">
                <i class="material-icons xumm-green" style="font-size: 3em;">
                  check_circle_outline
                </i>
              </p>
              <h2 class="text-center">Congratulations!</h2>
              <p class="text-center">
                You bought the address
              </p>
            </div>
            <code class="address">{{selectedVanityAddress && selectedVanityAddress.address}}</code>
          </ng-container>

        </div>

        <footer class="nextback">
          <button class="btn btn-sm btn-primarylight" (click)="moveBack();" [disabled]="loadingData">Back</button>
          <button *ngIf="purchaseSuccess" class="btn btn-sm btn-success" (click)="moveNext()"
            [disabled]="!purchaseSuccess || loadingData">Next</button>
          <button *ngIf="!purchaseSuccess" class="btn btn-sm btn-success" (click)="buyVanityAddress()"
            [disabled]="loadingData">Buy Now</button>
        </footer>

      </mat-step>

      <!-- STEP 4 -->
      <mat-step completed="false" editable="false">
        <div class="stepcontainer">
          <h2>Account ownership</h2>
          <p *ngIf="!accountActivated || !accountRekeyed || !accountMasterKeyDisabled">
            In order to use your new address, it has to hold at least <b>{{accountReserve/1000000}} XRP</b>. This is a requirement by the XRP
            Ledger. After you have activated your new account, we will change the porperties of that account that only
            YOU will have access to it!
          </p>

          <h3>1. Account activated</h3>
          <div *ngIf="accountActivated else accountActivatedMsg">
            <div class="alert alert-success">
              <i class="material-icons xumm-green" style="font-size: 1.5em; vertical-align: middle;">
                check_circle
              </i> This account has been activated.
            </div>
            <code class="address">{{selectedVanityAddress && selectedVanityAddress.address}}</code>
          </div>
          <ng-template #accountActivatedMsg>
            <button *ngIf="!activationStarted && !loadingData" class="btn btn-lg btn-success w-100 pt-2 pb-2"
              (click)="activateVanityAddress()" [disabled]="loadingData">Activate vanity address</button>

            <div *ngIf="activationStarted" class="alert alert-info">
              Activating...
            </div>
          </ng-template>

          <hr>

          <h3>2. Account access</h3>
          <div *ngIf="accountActivated && accountRekeyed else accountAccess">
            <div class="alert alert-success">
              <i class="material-icons xumm-green" style="font-size: 1.5em; vertical-align: middle;">
                check_circle
              </i>
              Your account <small>({{originalAccountInfo && originalAccountInfo.Account}})</small> can now sign
              transactions for
            </div>
            <code class="address">{{selectedVanityAddress && selectedVanityAddress.address}}</code>
            <p>
              That means YOU have access to the account now.
            </p>
          </div>
          <ng-template #accountAccess>
            <div class="alert alert-info">
              Waiting for activation...
            </div>
          </ng-template>

          <hr>

          <h3>3. Disabling master key</h3>
          <div *ngIf="accountActivated && accountRekeyed && accountMasterKeyDisabled else accountMasterKeyDisabled">
            <div class="alert alert-success">
              <i class="material-icons xumm-green" style="font-size: 1.5em; vertical-align: middle;">
                check_circle
              </i>
              The master key for the vanity account is disabled.
            </div>
            <code class="address">{{selectedVanityAddress && selectedVanityAddress.address}}</code>
            <p>
              That means <b>WE</b> can not access this account anymore. <b>It is fully yours now, enjoy!</b>
            </p>
          </div>
          <ng-template #accountMasterKeyDisabled>
            <div class="alert alert-info">
              Waiting for account access...
            </div>
          </ng-template>

          <!-- <div *ngIf="loadingData" class="inlineloader">
            <label *ngIf="!accountActivated">Waiting for account activation...</label>
            <label *ngIf="accountActivated && !accountRekeyed">Waiting for account transfer...</label>
            <label *ngIf="accountActivated && accountRekeyed && !accountMasterKeyDisabled">Waiting for master key to
              be disabled...</label>

            <div class="spinner-border" role="status" style="padding-top: 0.5em;"></div>
          </div> -->

          <div *ngIf="!loadingData && errorActivation">
            <div class="alert alert-danger">
              <label>There was a problem recognizing your account activation.</label>
              <label>Please close the xApp and open it again with the account selected (in the XUMM home screen) you *bought* your vanity address with.</label>
              <label>Then select "Show Purchases" and you will see the available options for your vanity address.</label>
            </div>
          </div>

        </div>

        <footer class="nextback fullwidth">
          <button *ngIf="accountActivated && accountRekeyed && accountMasterKeyDisabled" class="btn btn-sm btn-success" (click)="moveNext()"
            [disabled]="!accountMasterKeyDisabled || loadingData">Next</button>
        </footer>

      </mat-step>

      <mat-step completed="false" editable="false">
        <div class="stepcontainer">
          <h2>Import Vanity Address</h2>

            <p>
              To use your account, copy the following address (via the button) and add it as "Read only" account to your
              XUMM app. The guide below explains how to do it.
            </p>

            <div *ngIf="selectedVanityAddress">
              <code class="address">{{selectedVanityAddress && selectedVanityAddress.address}}</code>
            </div>

            <h2>Guide:</h2>
            <p>To use your new account, please follow the steps below!</p>
            <ul class="notes" style="list-style-type:decimal;">
              <li>Copy the above address via the button</li>
              <li>Close the xApp (NOT YET, DO IT LATER!)</li>
              <li>Open the "Settings" screen in you XUMM app</li>
              <li>Select "Accounts"</li>
              <li>Select "Add account"</li>
              <li>Select "Import existing account"</li>
              <li>Choose "Read only"</li>
              <li>Paste your new vanity address</li>
              <li>Follow the step to add an account until the end</li>
              <li>Done. You have now access to {{selectedVanityAddress && selectedVanityAddress.address}} via your
                account {{originalAccountInfo && originalAccountInfo.Account}} </li>
              <li>You can now close this xApp</li>
            </ul>
            <div class="alert alert-warning">
              Don't worry you can always find your purchased addresses through the "Show Purchases" tab on the main screen of this xApp!
            </div>
        </div>
        <footer class="nextback fullwidth" *ngIf="accountMasterKeyDisabled">
          <button class="btn btn-success btn-sm w-100" aria-label="Copy Address"
            (click)="copyAddress(selectedVanityAddress.address)">
            <i class="material-icons" style="font-size: 16px; width: fit-content; height: fit-content;">content_copy</i>
            Copy address</button>
        </footer>
      </mat-step>

    </mat-stepper>

  </div>
</div>

<div *ngIf="!openSearch && fullAccessAccount">

  <div class="purchases p-2 pt-4" fxLayout="column">
    <div class="alert alert-info" fxLayout="column">
      <label>Below you find all purchases for the account you opened this xApp with:</label>
      <code><b>{{originalAccountInfo && originalAccountInfo.Account}}</b></code>
    </div>
    <div class="alert alert-danger text-center-align" *ngIf="!loadingPurchases && (!purchasedAddresses || purchasedAddresses.length <=0 )">
      <label>No purchases found.</label>
    </div>
  </div>

  <div class="purchases" *ngIf="!loadingPurchases && purchasedAddresses && purchasedAddresses.length > 0">
    <ul class="accountlist">
      <li *ngFor="let address of purchasedAddresses">

        <code class="address">{{address.vanityAddress}}</code>


        <div class="subgrid">
          <div>
            <b>Network:</b>
          </div>
          <div>
            {{address.testnet ? 'Testnet' : 'Mainnet'}}
          </div>
        </div>

        <div class="subgrid">
          <div>
            <b>Activated:</b>
          </div>
          <div *ngIf="address.activated">
            <i class="material-icons xumm-green">check_circle_outline</i>
          </div>
          <div *ngIf="!address.activated">
            <i class="material-icons xumm-red" style="font-size: 1.4em;">highlight_off</i>
          </div>
        </div>

        <div class="subgrid">
          <div>
            <b>Rekeyed:</b>&nbsp;
          </div>
          <div *ngIf="address.rekeyed">
            <i class="material-icons xumm-green">
              check_circle_outline
            </i>
          </div>

          <div *ngIf="!address.rekeyed">
            <i class="material-icons xumm-red" style="font-size: 1.4em;">
              highlight_off
            </i>
          </div>
        </div>

        <div class="subgrid">
          <div>
            <b>Masterkey disabled:</b>&nbsp;
          </div>
          <div *ngIf="address.masterDisabled">
            <i class="material-icons xumm-green">
              check_circle_outline
            </i>
          </div>

          <div *ngIf="!address.masterDisabled">
            <i class="material-icons xumm-red" style="font-size: 1.4em;">
              highlight_off
            </i>
          </div>
        </div>

        <div>
          <div *ngIf="address.regularKey" class="subgrid">
            <div><b>RegularKey:</b></div>
            <div>
              <label style="font-size: 0.9em;">{{address.regularKey}}</label>
            </div>
          </div>

          <div *ngIf="!address.regularKey" class="subgrid">
            <div>
              <b>RegularKey:</b>
            </div>
            <div>
              <i class="material-icons xumm-red" style="font-size: 1.4em;">highlight_off</i>
            </div>
          </div>

        </div>

        <div class="subgrid">
          <div>
            <b>Actions:</b>
          </div>
          <div fxLayout="column" fxLayoutGap="0.3em">
            <div *ngIf="!address.activated">
              <div *ngIf="address.testnet == testMode">
                <button class="btn btn-sm btn-success" (click)="selectPurchasedAddressAndActivate(address)"
                  [disabled]="loadingData">Activate now</button>
              </div>
              <div *ngIf="address.testnet != testMode">
                <label class="xumm-red">Please change the network of your XUMM app to activate this address.</label>
              </div>
            </div>
            <div>
              <button class="btn btn-sm btn-primarylight" (click)="openImportGuide(address)"
                  [disabled]="loadingData">Import into XUMM</button>
            </div>
          </div>
        </div>

      </li>
    </ul>
  </div>
</div>