<div [class]="themeClass" fxFlex fxLayout="column" fxLayoutGap="0.3em">
  <mat-toolbar fxLayout="row" color="primary" style="background-color: rgb(48, 82, 255);"class="mat-elevation-z4">  
    <mat-toolbar-row>
      <div fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="start center">
        <img src="../assets/topbar_logo.png" width="50px" height="50px" alt="Vanity Address xApp Logo">
        <label class="title">{{title}}</label>  
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-card class="mat-card-red" *ngIf="errorLabel" fxLayout="column" fxLayoutGap="0.5em">
    <label>Sorry that this error happened! Please copy the following error and send it to @nixerFFM or @WietseWind on twitter or via a mail to: XummCommunity@gmail.com . Thanks for your help!</label><br>
    <label class="break-words" (click)="copyError()">{{errorLabel}}</label>
    <button mat-button class="xumm-grey-background" aria-label="Copy Error" (click)="copyError()">
      Copy&nbsp;<mat-icon style="font-size: 16px; width: fit-content; height: fit-content;">content_copy</mat-icon>
    </button>
  </mat-card>

  <!--label class="break-words" *ngIf="infoLabel" style="color: red">{{infoLabel}}</label><br><br>
  <label class="break-words" *ngIf="infoLabel2" style="color: red">{{infoLabel2}}</label>
  <label class="break-words" *ngIf="infoLabel3" style="color: red">{{infoLabel3}}</label-->

  <div>
    <div *ngIf="testMode == null" fxLayoutAlign="center center">
      <mat-progress-spinner color="primary" mode="indeterminate" diameter=50></mat-progress-spinner>
    </div>
    <div *ngIf="testMode != null && !testMode">
      <mat-card class="mat-card-red">
        You can not choose a XRPL vanity address while being connected to the XRP Ledger {{testMode ? 'TEST' : 'MAIN'}} net.
        Please connect your XUMM app to the XRP Ledger {{testMode ? 'MAIN' : 'TEST'}} net and open the xApp again.
        
        <div style="padding-top: 1em;" fxLayoutGap="0.5em" fxLayoutAlign="center center">
          <button mat-raised-button class="xumm-grey-background" (click)="close()">Close</button>
      </div>
      </mat-card>
    </div>
    <div *ngIf="testMode != null && testMode">
    <div>
      <mat-vertical-stepper linear #escrowStepper class="theme-background">
        <mat-step completed="false" editable="false">
          <mat-card fxLayout="column" fxLayoutGap="1em">
              <ng-template matStepLabel>Vanity search</ng-template>
              <label>A vanity address is a wallet address containing a few characters you like at the beginning or the end of the wallet address.</label>
              <label>This xApp allows you to search for a vanity address of your choice. We will check for suitable addresses and show it to you, if found.</label>
              <br/>
              <label class="description">Please enter the characters you want your address to start or end with.</label>
              <form fxLayout="column" fxLayoutGap="0.5em" style="padding-top: 1em;">
                <mat-form-field>
                  <input #inpvanityword matInput name="vanity word" placeholder="Search string" [(ngModel)]="vanityWordInput">
                  <mat-hint *ngIf="vanityWordInput && vanityWordInput.trim().length < 3 && !loadingData">At least 3 characters are required</mat-hint>           
                </mat-form-field>
              </form>
    
              <div *ngIf="!selectedVanityAddress">
                <button mat-raised-button color="primary" (click)="searchVanityAddress()" [disabled]="loadingData || !vanityWordInput || vanityWordInput.trim().length < 3">Search</button>
              </div>
    
              <div *ngIf="searchResult && !selectedVanityAddress" fxLayout="column" fxLayoutGap="0.5em">
                <label>Please select one of the vanity addresses below:</label>
                <div *ngIf="searchResult.length > 0">
                  <mat-table [dataSource]="searchResult" class="mat-elevation-z8">

                    <ng-container matColumnDef="account">
                      <mat-cell *matCellDef="let address">
                        <label [innerHTML]="address | highlightSearch: vanityWordInput"></label>
                      </mat-cell>
                    </ng-container>
                    <mat-row  *matRowDef="let row; columns: ['account'];" (click)="selectVanityAddress(row)"></mat-row>
                  </mat-table>
                </div>
                <div *ngIf="searchResult.length <= 0">
                  <mat-card class="mat-card-orange">
                    <label>No vanity addresses found for your search. Please try a different word!</label>
                  </mat-card>
                </div>
              </div>

              <div *ngIf="selectedVanityAddress">
                <label>Your selected vanity address is:</label>
                <div fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="start center">
                  <label style="font-size: 0.9em;">{{selectedVanityAddress}}</label>
                  <button mat-icon-button color="warn" (click)="selectedVanityAddress = null">
                    <mat-icon>highlight_off</mat-icon>
                  </button>
                </div>
                
              </div>

              <div *ngIf="loadingData" fxLayoutAlign="center center">
                <label>Loading...</label>
                <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
              </div>
    
              <div style="padding-top: 0.5em;" fxLayoutGap="0.5em">
                  <button mat-raised-button color="primary" (click)="moveNext()" [disabled]="!selectedVanityAddress || loadingData">Next</button>
                  <button mat-raised-button class="xumm-grey-background" (click)="moveBack()" [disabled]="loadingData">Back</button>
              </div>
          </mat-card>
        </mat-step>
    
        <mat-step completed="false" editable="false">
          <mat-card fxLayout="column" fxLayoutGap="0.5em">
              <ng-template matStepLabel>Payment Account</ng-template>
              <div fxLayout="column" fxLayoutGap="0.5em" *ngIf="originalAccountInfo">
                <label class="description">Please choose the account which will be able to sign transactions for your new vanity address.</label>
                <label>This account also needs to be used to activate the vanity address with 20 XRP and pay for your vanity address (10-50 USD - depending on your choosen vanity address)</label>
                <label *ngIf="originalAccountInfo && (originalAccountInfo.Account || originalAccountInfo.account)">Currently selected:</label>
                <label *ngIf="originalAccountInfo && originalAccountInfo.Account">{{originalAccountInfo.Account}}</label>
                <label *ngIf="originalAccountInfo && originalAccountInfo.account">{{originalAccountInfo.account}}</label>
    
                <div fxLayout="row" fxLayoutGap="0.5em">
                  <div fxLayoutAlign="start center" style="padding-top: 0.5em;">
                    <button mat-raised-button color="primary" (click)="signIn()" [disabled]="loadingData">{{originalAccountInfo && (originalAccountInfo.Account || originalAccountInfo.account) ? 'Change Account' : 'Sign In' }}</button>
                  </div>
                  <span style="flex: 1 1 auto;"></span>

                  <div *ngIf="originalAccountInfo && originalAccountInfo.Account">
                    <button mat-raised-button color="primary" (click)="getPurchasedAddresses()" [disabled]="loadingData">Show Purchases</button>
                  </div>
                </div>
              </div>

              <div *ngIf="purchasedAddresses && originalAccountInfo && originalAccountInfo.Account && !loadingData" fxLayout="column" fxLayoutGap="0.5em">
                <label>Your current purchased addresses:</label>
                <div *ngIf="purchasedAddresses.length > 0">
                  <mat-table [dataSource]="purchasedAddresses" class="mat-elevation-z8">

                    <ng-container matColumnDef="account">
                      <mat-cell *matCellDef="let address">
                        <label>{{address}}</label>
                        <button mat-icon-button aria-label="Copy Address" style="width: 24px; height:24px; line-height: 24px; padding-left: 10px;">
                          <mat-icon style="font-size: 16px; width: fit-content; height: fit-content;">content_copy</mat-icon>
                        </button>
                      </mat-cell>
                    </ng-container>
                    <mat-row  *matRowDef="let row; columns: ['account'];" (click)="copyAddress(row)"></mat-row>
                  </mat-table>
                </div>
                <div *ngIf="purchasedAddresses.length <= 0">
                  <mat-card class="mat-card-orange">
                    <label>No purchased addresses found!</label>
                  </mat-card>
                </div>    
              </div>
    
              <div style="padding-top: 0.5em;">
                <mat-card *ngIf="originalAccountInfo && originalAccountInfo.error && originalAccountInfo.error == 'actNotFound' && !loadingData" class="mat-card-red">
                  <label>Account not activated on {{testMode ? 'Testnet' : 'Mainnet'}}.</label>
                </mat-card>
              </div>
    
              <div *ngIf="!originalAccountInfo || loadingData" fxLayoutAlign="start center">
                <label>Loading...</label>
                <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
              </div>
    
              <div style="padding-top: 0.5em;" fxLayoutGap="0.5em">
                  <button mat-raised-button color="primary" (click)="moveNext()" [disabled]="!originalAccountInfo || !originalAccountInfo.Account || loadingData">Next</button>
                  <button mat-raised-button class="xumm-grey-background" (click)="moveBack()" [disabled]="!originalAccountInfo || loadingData">Back</button>
              </div>
          </mat-card>
        </mat-step>

        <mat-step completed="false" editable="false">
          <mat-card fxLayout="column" fxLayoutGap="0.5em">
            <ng-template matStepLabel>Confirmation</ng-template>
            <label class="description">Please read the information below carefully and sign the request to accept.</label>
            <mat-checkbox [(ngModel)]="checkBoxPurchaseAmount" (change)="informationConfirmed = false;" [ngClass]="(checkBoxPurchaseAmount ? 'xumm-green': 'xumm-red')">You aggree to pay the XRP equivalent of ~ {{getPurchaseAmount()}} USD to buy your vanity address {{selectedVanityAddress}}</mat-checkbox>
            <mat-checkbox [(ngModel)]="checkBoxActivation" (change)="informationConfirmed = false;" [ngClass]="(checkBoxActivation ? 'xumm-green': 'xumm-red')">In the process of transfering the vanity address to you, you will have to fund your new vanity address with the 20 XRP reserve fee of the XRP Ledger.</mat-checkbox>
            <mat-checkbox [(ngModel)]="checkBoxSignInfo" (change)="informationConfirmed = false;" [ngClass]="(checkBoxSignInfo ? 'xumm-green': 'xumm-red')">The signing account {{originalAccountInfo && originalAccountInfo.Account}} will be the only one able to sign transactions for {{selectedVanityAddress}} !</mat-checkbox>
            <mat-checkbox [(ngModel)]="checkBoxAccess" (change)="informationConfirmed = false;" [ngClass]="(checkBoxAccess ? 'xumm-green': 'xumm-red')">If you loose access to {{originalAccountInfo && originalAccountInfo.Account}}, you also loose access to {{selectedVanityAddress}} !</mat-checkbox>
            <mat-checkbox [(ngModel)]="checkBoxSignAccFull" (change)="informationConfirmed = false;" [ngClass]="(checkBoxSignAccFull ? 'xumm-green': 'xumm-red')">The signing account {{originalAccountInfo && originalAccountInfo.Account}} needs always to be imported as "Full Access" in the XUMM app!</mat-checkbox>
            <mat-checkbox [(ngModel)]="checkBoxVanityAccReadOnly" (change)="informationConfirmed = false;" [ngClass]="(checkBoxVanityAccReadOnly ? 'xumm-green': 'xumm-red')">Vanity Account {{selectedVanityAddress}} needs to be imported as "Read only" in the XUMM app!</mat-checkbox>

            <div fxLayoutAlign="start center" style="padding-top: 0.5em;">
              <button mat-raised-button color="primary" (click)="signToConfirm()" [disabled]="loadingData || !checkBoxPurchaseAmount || !checkBoxActivation || !checkBoxSignInfo || !checkBoxAccess || !checkBoxSignAccFull || !checkBoxVanityAccReadOnly || informationConfirmed">Sign to confirm</button>
            </div>

            <div style="padding-top: 0.5em;" fxLayoutGap="0.5em">
              <button mat-raised-button color="primary" (click)="moveNext()" [disabled]="!informationConfirmed || loadingData">Next</button>
              <button mat-raised-button class="xumm-grey-background" (click)="moveBack();" [disabled]="loadingData">Back</button>
            </div>

          </mat-card>
        </mat-step>
    
        <mat-step completed="false" editable="false">
          <mat-card fxLayout="column" fxLayoutGap="0.5em">
            <ng-template matStepLabel>Purchase of Vanity Address</ng-template>
            <label class="description">To purchase your new address please sign the transaction.</label>
            <label>You will have to pay the XRP equivalent of ~ {{getPurchaseAmount()}} USD to buy your vanity address {{selectedVanityAddress}}</label>
            <mat-card class="mat-card-orange">
              <label>Funds can not be restorded. After successfully purchase and account activation, the account is yours and YOURS only! The account can not be returned to us!</label>
            </mat-card>

            <div *ngIf="!purchaseSuccess">
              <button mat-raised-button color="primary" (click)="buyVanityAddress()" [disabled]="loadingData">Buy Vanity Address</button>
            </div>

            <div *ngIf="loadingData" fxLayoutAlign="center center">
              <label>Loading...</label>
              <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
            </div>

            <div>
              <mat-card *ngIf="!loadingData && purchaseStarted && !purchaseSuccess" class="mat-card-red">Your payment was not successfull on the XRP Ledger MAIN net.</mat-card>
              <mat-card *ngIf="!loadingData && purchaseStarted && purchaseSuccess" class="mat-card-green" fxLayout="row" fxLayoutGap="0.3em" fxLayoutAlign="start center">
                <i class="material-icons xumm-green" style="font-size: 2em;">
                    check_circle_outline
                </i>
                <label>Congratulations. You bought the address {{selectedVanityAddress}}</label>
              </mat-card>
            </div>
            

            <div style="padding-top: 0.5em;" fxLayoutGap="0.5em">
              <button mat-raised-button color="primary" (click)="moveNext()" [disabled]="!purchaseSuccess || loadingData">Next</button>
              <button mat-raised-button class="xumm-grey-background" (click)="moveBack(); purchaseStarted = purchaseSuccess = false;" [disabled]="loadingData">Back</button>
            </div>
          </mat-card>
        </mat-step>
    
        <mat-step completed="false" editable="false">
          <mat-card fxLayout="column" fxLayoutGap="0.5em">
              <ng-template matStepLabel>Account activation</ng-template>
              <mat-card class="mat-card-orange" *ngIf="!accountActivated || !accountRekeyed || !!accountMasterKeyDisabled">
                <label>In order to use your new address, it has to hold at least 20 XRP. Only when 20 XRP were sent there, the account is "active" on the XRP Ledger.</label>
              </mat-card>

              <div *ngIf="!accountActivated && !loadingData">
                <label>So we will activate your account by sending 20 XRP + 0.001 XRP for some fees. The total will be 20.001 XRP.</label>
                <label>We will automatically transfer the account to you after the initial activation.</label>
              </div>

              <div *ngIf="!accountActivated && !loadingData">
                <button mat-raised-button color="primary" (click)="activateVanityAddress()" [disabled]="loadingData">Activate Vanity Address</button>
              </div>

              <mat-card *ngIf="accountActivated" class="mat-card-green" fxLayout="row" fxLayoutGap="0.3em" fxLayoutAlign="start center">
                <i class="material-icons xumm-green" style="font-size: 2em;">
                    check_circle_outline
                </i>
                <label>The account {{selectedVanityAddress}} has been activated.</label>
              </mat-card>

              <mat-card *ngIf="accountActivated && accountRekeyed" class="mat-card-green" fxLayout="row" fxLayoutGap="0.3em" fxLayoutAlign="start center">
                <i class="material-icons xumm-green" style="font-size: 2em;">
                    check_circle_outline
                </i>
                <label>Your account {{originalAccountInfo.Account}} can now sign transactions for {{selectedVanityAddress}}. That means YOU have access to the account now.</label>
              </mat-card>

              <mat-card *ngIf="accountActivated && accountRekeyed && accountMasterKeyDisabled" class="mat-card-green" fxLayout="row" fxLayoutGap="0.3em" fxLayoutAlign="start center">
                <i class="material-icons xumm-green" style="font-size: 2em;">
                    check_circle_outline
                </i>
                <label>The master key for the vanity account {{selectedVanityAddress}} is disabled. That means WE can not access this account anymore. It is truly yours now, enjoy!</label>
              </mat-card>

              <div *ngIf="loadingData" fxLayoutAlign="center center">
                <label *ngIf="!accountActivated">Waiting for account activation ...</label>
                <label *ngIf="accountActivated && !accountRekeyed">Waiting for account transfer ...</label>
                <label *ngIf="accountActivated && accountRekeyed && !accountMasterKeyDisabled">Waiting for master key to be disabled ...</label>
                <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
              </div>

              <mat-card *ngIf="accountActivated && accountRekeyed && accountMasterKeyDisabled" class="mat-card-orange" fxLayout="column" fxLayoutGap="0.5em">
                <label>To use your account, copy the following address (via the button) and add it as "Read only" account to your XUMM app:</label>
                <div fxLayout="row" fxLayoutGap="0.2em" fxLayoutAlign="start center">
                  <label style="font-size: 0.9em;" (click)="copyAddress(selectedVanityAddress)">{{selectedVanityAddress}}</label>
                  <button mat-icon-button aria-label="Copy Address" (click)="copyAddress(selectedVanityAddress)">
                    <mat-icon style="font-size: 16px; width: fit-content; height: fit-content;">content_copy</mat-icon>
                  </button>
                </div>
              </mat-card>

              <div *ngIf="!loadingData && errorActivation">
                <mat-card class="mat-card-red" fxLayoutGap="0.3em">
                  <label>There was an error activating your new vanity address.</label>
                  <label>Please contact @nixerFFM or @WietseWind on twitter or send a mail to xyz@gmail.com</label>
                </mat-card>
              </div>

          </mat-card>
        </mat-step>
    
      </mat-vertical-stepper>
    </div>
  </div>
</div>